.y-modal {
    padding: 0;
    overflow: hidden;
    border:none;
    border-radius: 1rem;
    transition: opacity 0.4s ease;

    &::backdrop {
        background-color: var(--var-backdrop-color);
    }

    &-content {
        padding: 1px;
        width: 75vw;
        height: 50vw;
    }
}
